<h1>ADD STAFF</h1>
<div class="">
    <div class="form-outline mb-2">
        <input type="text" id="form7Example1" class="form-control" />
        <label class="form-label" for="form7Example1">Staff Name</label>
    </div>
    
    <div class="form-outline mb-2">
        <input type="number" id="form7Example2" class="form-control" />
        <label class="form-label" for="form7Example2">Address</label>
    </div>

    <div class="form-outline mb-2">
        <input type="number" id="form7Example2" class="form-control" />
        <label class="form-label" for="form7Example2">Phone Number</label>
    </div>
    <div class="form-outline mb-2">
        <input type="number" id="form7Example2" class="form-control" />
        <label class="form-label" for="form7Example2">Email</label>
    </div>
    <div class="form-outline mb-2">
        <input type="number" id="form7Example2" class="form-control" />
        <label class="form-label" for="form7Example2">Password</label>
    </div>
    <div class="row opt">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-block mb-3 mx-3" [routerLink]="['/main/staffpage/staffmain']">Cancel</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-block mb-3">Save</button>
        </div>
    </div>
</div>