<h1 class="mt-3">Price Management <p class="btn btn-primary mt-2" [routerLink]="['/main/pricemanagementpage/pricemgtmain/pricemgtview/add']" class="fa fa-plus-circle"></p></h1>
<div class="row">
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th>Laundry Item No.</th>
                    <th>Laundry Name</th>
                    <th>Rate</th>
                    <th>Perkilogram</th>
                    <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>LA001421</td>
                    <td>Assoreted Clothes</td>
                    <td>30 Pesos</td>
                    <td>1 kilograms</td>
                    <td class="text-center">
                        <button class="btn bg-primary mx-2" [routerLink]="['/main/pricemanagementpage/pricemgtmain/pricemgtview/update']">Edit</button>
                        <button class="btn bg-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>LA001422</td>
                    <td>Maong/ Jacket</td>
                    <td>40 Pesos</td>
                    <td>1 kilograms</td>
                    <td class="text-center">
                        <button class="btn bg-primary mx-2" [routerLink]="['/main/pricemanagementpage/pricemgtmain/pricemgtview/update']">Edit</button>
                        <button class="btn bg-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>LA001422</td>
                    <td>Maong/ Jacket</td>
                    <td>40 Pesos</td>
                    <td>1 kilograms</td>
                    <td class="text-center">
                        <button class="btn bg-primary mx-2" [routerLink]="['/main/pricemanagementpage/pricemgtmain/pricemgtview/update']">Edit</button>
                        <button class="btn bg-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>LA001422</td>
                    <td>Maong/ Jacket</td>
                    <td>40 Pesos</td>
                    <td>1 kilograms</td>
                    <td class="text-center">
                        <button class="btn bg-primary mx-2" [routerLink]="['/main/pricemanagementpage/pricemgtmain/pricemgtview/update']">Edit</button>
                        <button class="btn bg-danger">Delete</button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5" >
        <router-outlet/>
    </div>
</div>
 