<div class="bg-white p-3 rounded">
    <div class="container">
        <div class="row">
            <div class="field" text-align="left">
                <h4 class="text-center"><b>UPLOAD IMAGE</b></h4>
                <input type="file" class="files" name="files[]" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-block mb-3 " [routerLink]="['/main/staffpage/staffmain']">Cancel</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success btn-block mb-3">Upload</button>
            </div>
        </div>
    </div>
</div>