.pri{
    float: right;
}
thead th:last-child
{
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 10px; */
}
thead th:first-child
{
    border-top-left-radius: 10px;
    /* border-bottom-left-radius: 10px; */
}
/* tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
} */
tfoot th:last-child
{
    /* border-top-right-radius: 10px; */
    border-bottom-right-radius: 10px;
}
tfoot th:first-child
{
    /* border-top-left-radius: 10px; */
    border-bottom-left-radius: 10px;
}