.pri {
    float: right;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  thead th:first-child,
  tfoot th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  thead th:last-child,
  tfoot th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
    }
  }