.fixed-action-column {
    position: sticky;
    right: 0;
    background-color: #fff;
    z-index: 1;
    white-space: nowrap; /* Prevents wrapping of buttons */
}
@media (max-width: 576px) {
    .btn-custom-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
}

@media (min-width: 814px) {
    .btn-custom-md {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .btn-custom-lg {
        padding: .55rem 1rem;
        font-size: .70rem;
    }
}
thead th:last-child
{
    border-top-right-radius: 10px;
     /* border-bottom-right-radius: 10px;  */
} 
thead th:first-child
{
    border-top-left-radius: 10px;
    /* border-bottom-left-radius: 10px; */
}
tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
} 