<div class="row w-100 mt-5">
    <div class="col-md">
        <div class="card mx-sm-1 p-3">
            <!-- <div class="card border-black shadow text-black p-3 my-card" ><span class="fa fa-car" aria-hidden="true"></span></div> -->
            <div class="text-black text-center mt-3"><h4>Today's <br>Income</h4></div>
            <div class="text-black text-center mt-2"><h1>₱ 200.00</h1></div>
        </div>
    </div>
    <div class="col-md">
        <div class="card mx-sm-1 p-3">
            <!-- <div class="card border-black shadow text-black p-3 my-card"><span class="fa fa-eye" aria-hidden="true"></span></div> -->
            <div class="text-center mt-3"><h4>Today's Received Transactions</h4></div>
            <div class=" text-center mt-2"><h1>5</h1></div>
        </div>
    </div>
    <div class="col-md">
        <div class="card  mx-sm-1 p-3">
            <!-- <div class="card border-black shadow text-black p-3 my-card" ><span class="fa fa-heart" aria-hidden="true"></span></div> -->
            <div class="text-black text-center mt-3"><h4>Today's <br> Expenses</h4></div>
            <div class="text-black text-center mt-2"><h1>₱ 50.00</h1></div>
        </div>
    </div>
    <div class="col-md">
        <div class="card  mx-sm-1 p-3">
            <!-- <div class="card border-black shadow text-black p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div> -->
            <div class="text-black text-center mt-3"><h4><br>Staff </h4></div>
            <div class="text-black text-center mt-2"><h1>3</h1></div>
        </div>
    </div>
    <div class="col-md-8">
      <div class="cards border-black shadow text-black p-3 mt-1 mb-5">
        <div class="table-responsive">
          <h1>LIST OT TRANSACTIONS</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Tracking No.</th>
                    <th>Customer Name</th>
                    <th>Address</th>
                    <th>Laundry Status</th>
                    <th>Mode of Payment </th>
                    <th>Staff In-Charge</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>LA001421</td>
                    <td>Marie Dela Cruz</td>
                    <td>Artacho, Sison</td>
                    <td>Pending</td>
                    <td>Cash</td>
                    <td>Luna Juan</td>
                    <td> <button class="btn bg-success"><i class="fa fa-eye-slash"></i> </button></td>
                </tr>
                <tr>
                  <td>LA001421</td>
                  <td>Marie Dela Cruz</td>
                  <td>Artacho, Sison</td>
                  <td>Pending</td>
                  <td>Cash</td>
                  <td>Luna Juan</td>
                  <td> <button class="btn bg-success"><i class="fa fa-eye-slash"></i> </button></td>
                </tr>
                <tr>
                  <td>LA001421</td>
                  <td>Marie Dela Cruz</td>
                  <td>Artacho, Sison</td>
                  <td>Pending</td>
                  <td>Cash</td>
                  <td>Luna Juan</td>
                  <td><button class="btn bg-success"><i class="fa fa-eye-slash"></i> </button></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card  mx-sm-1">
          <div class="text-black text-center "><h4><br>Income Graph</h4></div>
          <div class="text-black text-center mt-2"><h1>3</h1></div>
      </div>
      <div class="card  mx-sm-1 p-3">
        <h1>Cash Details</h1>
        <div class="row">
          <div class="col-md-9">
            <label class="form-label" for="form7Example1">Change Fund</label>
            <input type="text" id="form7Example1" class="form-control" />
          </div>
          <div class="col-md-3 text-center">
            <label class="form-label" for="form7Example1">Update</label>
            <button type="submit" class="btn btn-primary btn-block mb-3"><i class="fa fa-pencil"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <label class="form-label" for="form7Example1">Cash Count</label>
            <input type="text" id="form7Example1" class="form-control" />
          </div>
          <div class="col-md-3 text-center">
            <label class="form-label " for="form7Example1">Add</label>
            <button type="submit" class="btn btn-primary btn-block mb-3"><i class="fa fa-plus-circle"></i></button>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- </div> -->