body {
    font-family: "Lato", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto; /* Center align the container */
  }
  
  @media print {
    .table-responsive {
      overflow: visible !important;
    }
    
    .table th,
    .table td {
      white-space: nowrap; /* Ensure table cells do not break lines */
    }
  
    .d-print-none {
      display: none !important; /* Hide elements that should not be printed */
    }
  }
  