body {
    font-family: "Lato", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    /* margin: auto;  */
  }
  
  @media print {
    .table-responsive {
      overflow: visible !important;
    }
    
    .table th,
    .table td {
      white-space: nowrap; /* Ensure table cells do not break lines */
    }
  
    .d-print-none {
      display: none !important; /* Hide elements that should not be printed */
    }
  }
thead th:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
thead th:first-child
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
tbody td:last-child
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
tbody td:first-child
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tal{
  margin-left: 250px;
}
  