<div class="bg-white p-3 rounded">
    <h4 class="text-center"><b>ADD CATEGORY</b></h4>
    <div class="">
      <div class="row">
        <div class="col-md">
          <div class="form-outline mb-2">
            <input type="text" id="form7Example1" class="form-control" />
            <label class="form-label" for="form7Example1">Laundry Name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md mb-2">
          <input type="number" id="form7Example2" class="form-control" />
          <label class="form-label" for="form7Example2">Rate</label>
        </div>
  
        <div class="col-md mb-2">
          <input type="number" id="form7Example2" class="form-control" />
          <label class="form-label" for="form7Example2">Kilograms</label>
        </div>
      </div>
      <div class="row opt">
        <div class="col-md-6">
          <button
            type="submit"
            class="btn btn-secondary btn-block mb-3"
            [routerLink]="['/main/pricemanagementpage/pricemgtmain/pricemgtview']"
          >
            Clear
          </button>
        </div>
        <div class="col-md-6">
          <button
            type="submit"
            class="btn btn-primary btn-block mb-3"
            (click)="save()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>