<h1>ADD CATEGORY</h1>
<div class="table-responsive ">
    <div class="form-outline mb-2">
        <input type="text" id="form7Example1" class="form-control" />
        <label class="form-label" for="form7Example1">Laundry Name</label>
    </div>
    
    <div class="form-outline mb-2">
        <input type="number" id="form7Example2" class="form-control" />
        <label class="form-label" for="form7Example2">Rate</label>
    </div>

    <div class="form-outline mb-2">
        <input type="number" id="form7Example2" class="form-control" />
        <label class="form-label" for="form7Example2">Kilograms</label>
    </div>
    <div class="opt">
        <button type="submit" class="btn btn-primary btn-block mb-3 mx-3" [routerLink]="['/main/pricemanagementpage/pricemgtmain/pricemgtview']">Cancel</button>
        <button type="submit" class="btn btn-primary btn-block mb-3">Save</button>
    </div>
</div>