<div id="mySidenav" class="sidenav" [ngClass]="{'open': isOpen}">
    <div class="logo-container">
       <img src="./sk2logo.png" alt="Logo" class="logo">
    </div>
    <div class="menu">
      <a class="menu-item nav-link" [routerLink]="['/main/dashboardpage']">
        <i class="fas fa-tachometer-alt " ></i> Dashboard
      </a>
      <a href="#" class="menu-item"  [routerLink]="['/main/pricemanagementpage']">
        <i class="fas fa-tags"></i> Price Management
      </a>
      <a href="#" class="menu-item"  [routerLink]="['/main/reportpage']">
        <i class="fas fa-file-alt"></i> Reports
      </a>
      <a href="#" class="menu-item"  [routerLink]="['/main/staffpage']">
        <i class="fas fa-users"></i> Staff
      </a>
    </div>
    <div class="pro">
      <a href="#" class="menu-item mt-5 pt-5" [routerLink]="['/main/accountpage']">
        <i class="fas fa-user"></i> Account
      </a>
      <a href="#" class="menu-item" [routerLink]="['/login']">
        <i class="fas fa-sign-out"></i> Sign Out
      </a>
    </div>
  </div>
  
  
  
  <div id="main" [ngStyle]="{'margin-left.px': isOpen ? 250 : 0}">
    <span style="font-size:30px;cursor:pointer" (click)="toggleNav()">&#9776; Dashboard</span>
    <p class="mx-4">Welcome to Admin</p>
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
          <div class="container-fluid">
            <div class="p-5">
                <router-outlet></router-outlet>
            </div>
        </div>
        </div>
    </div>  
  </div>
  
  
  
  