<!-- app.component.html -->
<div class="navbar container-fluid sidenav" [ngClass]="{'open': isOpen}">
  <div class="logo-container">
    <img src="./sk2logo.png" alt="Logo" class="logo">
  </div>
  <div class="menu">
    <a class="menu-item nav-link" [routerLink]="['/main/dashboardpage']" routerLinkActive="active">
      <i class="fa fa-qrcode mx-2"></i> Dashboard
    </a>
    <a class="menu-item nav-link" [routerLink]="['/main/pricemanagementpage']" routerLinkActive="active">
      <i class="fas fa-tags mx-2"></i> Price Management
    </a>
    <a class="menu-item nav-link" [routerLink]="['/main/reportpage']" routerLinkActive="active">
      <i class="fas fa-file-alt mx-2"></i> Reports
    </a>
    <a class="menu-item nav-link" [routerLink]="['/main/staffpage']" routerLinkActive="active">
      <i class="fas fa-users mx-2"></i> Staff
    </a>
  </div>
  <div class="pro mt-5 pt-5">
    <a class="menu-item nav-link" [routerLink]="['/main/accountpage']" routerLinkActive="active">
      <i class="fas fa-user mx-2"></i>My Account
    </a>
    <a class="menu-item nav-link" [routerLink]="['/login']" routerLinkActive="active">
      <i class="fas fa-sign-out mx-2"></i> Sign Out
    </a>
  </div>
</div>

<div class="main-content nav" [ngStyle]="{'margin-left.px': isOpen ? 250 : 0}">
  <span class="nav-toggle" (click)="toggleNav()"><i class="mx-2">&#9776;</i> Record Management System</span>
  <div class="container mt-2 bg-white">
    <div class="row">
      <div class="col-lg-12">
        <div class="container-fluid">
          <div class="mx-1">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
