.sidenav {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #38b6ff;
  padding-top: 20px;
  transition: width 0.3s;
}

.sidenav.open {
  width: 250px;
}

.sidenav:not(.open) {
  width: 0;
  overflow: hidden;
}

.sidenav .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sidenav .logo {
  max-width: 100%;
  height: auto;
}

.sidenav .menu {
  flex-grow: 1;
}

.sidenav .menu-item {
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  transition: color 0.3s, border-bottom 0.3s;
}

.sidenav .menu-item:hover, .sidenav .menu-item.active {
  color: #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
}

.sidenav .pro {
  margin-top: auto;
}

.sidenav .pro .menu-item {
  padding: 15px;
  /* text-decoration: none; */
  font-size: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  transition: color 0.3s, border-bottom 0.3s;
}

.sidenav .pro .menu-item:hover, .sidenav .pro .menu-item.active {
  color: #f1f1f1;
  border-bottom: 3px solid #f1f1f1;
  /* background-color: #fdf4f4; */
}

.main-content {
  transition: margin-left 0.3s;
  padding: 10px;
}
/* .nav {
  padding-left: 30px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
} */

.nav-toggle {
  font-size: 25px;
  cursor: pointer;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
  .sidenav {
    width: 0;
  }

  .sidenav.open {
    width: 250px;
  }

  .main-content {
    margin-left: 0;
  }
}
