/* General Sidenav Styling */
.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f4f8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  transition: width 0.3s ease, box-shadow 0.3s ease;
}

.sidenav.open {
  width: 250px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.sidenav:not(.open) {
  width: 0;
  overflow: hidden;
}

/* Logo Styling */
.sidenav .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sidenav .logo {
  max-width: 80%;
  height: auto;
}

/* Sidenav container */
.sidenav .menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the menu items as a group */
  justify-content: center; /* Center the menu items as a group */
}

/* Menu items styling */
.sidenav .menu-item {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Keeps the text left-aligned within the item */
  width: 100%; /* Ensures the item takes the full width */
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styling for hovered or active menu items */
.sidenav .menu-item:hover,
.sidenav .menu-item.active {
  color: #ffffff;
  background-color: #38b6ff;
  box-shadow: inset 4px 0 0 #2a94d6;
  border-radius: 5px;
}

/* Footer Menu Styling (My Account and Sign Out) */
.sidenav .pro {
  margin-top: auto; /* Pushes this section to the bottom */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items as a group */
  width: 100%; /* Full width for alignment consistency */
}

.sidenav .pro .menu-item {
  padding: 15px;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align text to the left */
  width: 100%; /* Full width to match other menu items */
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styling for hovered or active items in the footer menu */
.sidenav .pro .menu-item:hover,
.sidenav .pro .menu-item.active {
  color: #ffffff;
  background-color: #f25252;
  box-shadow: inset 4px 0 0 #d14242;
  border-radius: 5px;
}

/* Main Content Styling */
.main-content {
  transition: margin-left 0.3s ease;
  /* padding: 5px; */
}

/* Navbar Header Styling */
.navbar-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #38b6ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-toggle {
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 20px;
}

.nav-title {
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  font-size: calc(1rem + 1vw);
}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
  .text-responsive {
    font-size: calc(1rem + 1.5vw);
  }
}
